<!-- mettre form de création pour le trip -->
<%= stylesheet_link_tag "trips_create" %>
<link href="https://fonts.googleapis.com/css?family=Barrio|Gloria+Hallelujah|Sofia" rel="stylesheet">

<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>


<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>

<div class="form-create-trip">
<%= form_for Trip.new, url: {action: "create"}, html: {class: "create-trips"} do |f| %>
<%= f.text_field :title, placeholder: "A Trip to..." %>
<%= f.text_field :description, placeholder: "A few days in..." %>
<%= f.button :submit, "Create" %>
<% end %>
</div>
