<%= stylesheet_link_tag "trips_index" %>
<link href="https://fonts.googleapis.com/css?family=Barrio|Gloria+Hallelujah|Sofia" rel="stylesheet">

<div class="navbar-wagon">
  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <div class="Title-navbar">
      <p>MY TRIPS</p>
      <a href="/home" id="a1">Log Out</a>
      <a href="/home" id="a2">Home</a>
    </div>
  </div>
</div>
<div>
  <!-- Il faut que je fasse la logique derrière le formulaire qui génèrera les cards pour chaque user, avec les informations du trip, migrations faites.  -->
  <ul class="cards">
    <%= @trips.each do |trip| %>
      <li class="cards__item">
        <div class="card">
          <div class="card__image" id="ImageRussia"></div>
          <div class="card_content">
            <div class="trip-title"><%= trip.title %></div>
            <div class="trip-description"><%= trip.description %></div>
            <div class="trip-dates">
              <p id="p1-card">From...</p>
            <%= trip.beginning_date %>
            <p id="p2-card">To...</p>
            <%= trip.end_date %>
            </div>
            <button class="btn btn--block card__btn">See more</button>
          </div>
        </div>
      </li>
      <%- end -%> <!-- cette petite pute affiche du texte où qu'il soit placé, qui es-tu, quel est ton projet ? Juste barre-toi. -->
  </ul>

  <a href="/trips/create" class="btn-medium">Create another Trip !</a>
 <!--  changer pour que ça ne crée pas le trip directement sur la page -->
</div>






<!-- link_to "Create a Trip", "/trips/create", class: "linktotrips" %>
 -->
