<%= stylesheet_link_tag "trips_show" %>
<h1>Hahaha</h1>

<div class="trip_info">
  <%= @trip.title %>
  <%= @trip.description %>
  <%= @trip.beginning_date %>
  <%= @trip.end_date %>
</div>

<!-- <div class="trip-medias">
  mettre le code pour créer le formulaire pour uploader les tofs

</div> -->
<!-- <div class="trip-activities">
</div> -->


